<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/component6.css">
    <title>Component6</title>
</head>
<body>
    <section class="component6">
        <div class="component6-title">お問い合わせ</div>
        <p class="component6-text">CONTACT</p>
        <div class="component6-contact">
            <article class="contact-item">
                <div class="item-title">送信したい</div>
                <div class="item-body">
                    <img src="./Image/icon1.png" alt="...">
                    <div class="body-text">WEBからのお問い合わせ</div>
                </div>
            </article>
            <article class="contact-item">
                <div class="item-title">送信したい</div>
                <div class="item-body">
                    <img src="./Image/icon2.png" alt="...">
                    <div class="body-text body-text-left">本社、ベトナム:  <span>(+84) 28-3715-5325)</span><br>支社、日本:  092-710-4461</div>
                    <p>お電話でのお問い合わせ<br>受付時間：平日10:00～19:00</p>
                </div>
            </article>
        </div>
    </section>
</body>
</html>