<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/fourth-page.css">
    <title>Document</title>
</head>

<body>
    <section class="fourth-page">
        <article class="fourth-item">
            <div class="item-left">
                <div class="left-top">
                    <div class="top-number">1</div>
                    <div class="top-text">サービスパッケージをリーズナブルな価格で提供</div>
                </div>
                <div class="left-bottom">
                    まず、お客様のニーズをヒアリングし、分析します。 そして、予算外のコストを削減し、業務効率を高めるために、 *最適なソリューションとサービスパッケージ* をコンサルティングし、提供します。
                </div>
            </div>
            <div class="item-right">
                <img src="./Images/image1.png" alt="...">
            </div>
        </article>
        <article class="fourth-item reverse">
            <div class="reverse-background"></div>
            <div class="item-left">
                <div class="left-top">
                    <div class="top-number">2</div>
                    <div class="top-text">豊富で高い専門性を持つ人材</div>
                </div>
                <div class="left-bottom">
                    １千人以上 の優秀な技術者と専門家のチームにより、処理時間と納期が大幅に短縮 されます 。これにより、作業効率が向上し、競争上の優位性が高まります。
                    さらに、24時間年中無休 の作業サービスも提供しており、顧客の要求に応じた
                    適切な人材の提供と大規模プロジェクトの確約されたスケジュールを確実に満たすことができます。
                </div>
            </div>
            <div class="item-right">
                <img src="./Images/image2.png" alt="...">
            </div>
        </article>
        <article class="fourth-item">
            <div class="item-left">
                <div class="left-top">
                    <div class="top-number">3</div>
                    <div class="top-text">高品質・高速度</div>
                </div>
                <div class="left-bottom">
                    高度な技術（AI、機械学習-ML) が常に更新され、統合されることで<br>、
                    人手による作業をサポートし、データ処理速度を大幅に向上させます。<br>
                    テクノロジーと人の組み合わせ により、プロセスが同期してシームレス<br>
                    に実行され, エラーが減り、処理されるデータの 精度が向上します。

                </div>
            </div>
            <div class="item-right">
                <img src="./Images/image3.png" alt="...">
            </div>
        </article>
        <article class="fourth-item reverse">
            <div class="reverse-background"></div>
            <div class="item-left">
                <div class="left-top">
                    <div class="top-number">4</div>
                    <div class="top-text">セキュリティ</div>
                </div>
                <div class="left-bottom">
                    銀行や保険などの高度なセキュリティを必要とする分野での長年の協力経験により、DIGI-TEXXは情報セキュリティの重要性を理解しています。
                    セキュリティ認証
                    GDPR準拠（EU標準データ保護規則）
                    ISO/IEC 27001:2013                    
                </div>
            </div>
            <div class="item-right">
                <img src="./Images/image4.png" alt="...">
            </div>
        </article>
        <article class="fourth-item">
            <div class="item-left">
                <div class="left-top">
                    <div class="top-number">5</div>
                    <div class="top-text">コミュニケーション</div>
                </div>
                <div class="left-bottom">
                    DIGI-TEXXは福岡市に支社があり、市場を理解し、日本企業で長年の経験を持つ日本人とベトナム人のコンサルタントのチームがいるため, 言語の壁やプロジェクト管理の文化を打ち破り、プロジェクトの品質を向上させることができす。
                </div>
            </div>
            <div class="item-right">
                <img src="./Images/image5.png" alt="...">
            </div>
        </article>
        <article class="fourth-item reverse">
            <div class="reverse-background"></div> 
            <div class="item-left">
                <div class="left-top">
                    <div class="top-number">6</div>
                    <div class="top-text">経験・知識</div>
                </div>
                <div class="left-bottom">
                    創業以来 19年以上 の長きに渡り、BPOサービスを提供している経験を有しております。<br>銀行、保険、製薬からeコマースおよび小売に至るまで、１０を超える業界でご利用いただいております。特に日本の大手企業と協力経験もございますのでご安心ください。                 
                </div>
            </div>
            <div class="item-right">
                <img src="./Images/image6.png" alt="...">
            </div>
        </article>
    </section>
</body>

</html>