<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/component2.css">
    <title>Document</title>
</head>
<body>
    <section class="sixth-page-component2">
        <div class="component2-title">サービス種類</div>
        <div class="component2-list">
            <div class="component2-item">
                <img class="item-img" src="./Images/imageLeft.png" alt="...">
                <div class="item-content">バウンディングボックス</div>
            </div>
            <div class="component2-itemMid">
                <img class="itemMid-img" src="./Images/imageBetween.png" alt="...">
                <div class="itemMid-content">
                    <h2 class="content-title">ポリゴン</h2>
                    <p class="content-text">ポリゴンアノテーションは、 *空白や追加のノイズを避ける* ことで、モデルの精度レベルを向上させます。
                    </p>
                </div>
            </div>
            <div class="component2-item">
                <img class="item-img" src="./Images/imageRight.png" alt="...">
                <div class="item-content">セグメンテーション</div>
            </div>
        </div>
    </section>
</body>
</html>