<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/component2.css">
    <title>Document</title>
</head>

<body>
    <section class="second-page-component2">
        <div class="component2-background"></div>
        <h2 class="component2-title">トップメッセージ</h2>
        <div class="component2-body">
            <div class="body-left">
                <img src="./Images/image.png" alt="...">
            </div>
            <div class="body-right">
                <p class="right-text">
                    「DIGI-TEXXは、世界中のパートナーと協力して、ベトナム内外のお客様に高度なデジタルアイデアとソリューションを提供しています<br><br>お客様に適切なデジタルワーカーとテクノロジーを提供しながら、プロセスの合理化に関するコンサルティングを行います。デジタル化の波を成功させるには、デジタル化と自動化が鍵であると強く信じています。」
                </p>
                <h3 class="right-ceo">Frank Schellenberg<br>フランク・シェレンバーグ/CEO</h3>
            </div>
        </div>
    </section>
</body>

</html>