<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/component1.css">
    <title>Document</title>
</head>

<body>
    <section class="seventh-page-component1">
        <div class="component1-content">
            手書き図面等をデジタルデータ化することにより、保管場所を不要にし、破損や劣化も防ぎます。<br> 変更・追加等の編集も行いやすくなり、さまざまなアプリケーションで利用できますので、その後の業務の効率化をはかれます。
        </div>
    </section>
</body>

</html>