<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/component4.css">
    <title>Document</title>
</head>
<body>
    <section class="sixth-page-component4">
        <h2 class="component4-title">サービス概要</h2>
        <div class="component4-list">
            <article class="component4-item">
                <div class="item-background"></div>
                <div class="item-icon">
                    <img src="./Images/icon1.png" alt="...">
                </div>
                <div class="item-text">専門のデータアノテーターチーム を提供します</div>
            </article>
            <article class="component4-item">
                <div class="item-background"></div>
                <div class="item-icon">
                    <img src="./Images/icon2.png" alt="...">
                </div>
                <div class="item-text">日本語が堪能で、お客様のご要望を正確に理解している 日本人コンサ</div>
            </article>
            <article class="component4-item">
                <div class="item-background"></div>
                <div class="item-icon">
                    <img src="./Images/icon3.png" alt="...">
                </div>
                <div class="item-text">相談から納品までの 標準的なプロセス を守ります</div>
            </article>
        </div>
    </section>
</body>
</html>