<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/component4.css">
    <title>Component4</title>
</head>
<body>
    <section class="component4" style="background-image: url(./Image/background.png);">
        <div class="component4-left">
            <article class="left-item">   
                <img src="./Image/icon1.png" alt="...">
                <p class="item-text">サービスパッケージ、リーズナブルな価格の提供</p>
            </article>
            <article class="left-item">   
                <img src="./Image/icon2.png" alt="...">
                <p class="item-text">豊富で高い専門性を持つ人材</p>
            </article>
            <article class="left-item">   
                <img src="./Image/icon3.png" alt="...">
                <p class="item-text">高品質・高速度</p>
            </article>
            <article class="left-item">   
                <img src="./Image/icon4.png" alt="...">
                <p class="item-text">高いセキュリティーポリシー</p>
            </article>
            <article class="left-item">   
                <img src="./Image/icon5.png" alt="...">
                <p class="item-text">高レベルのコミュニケーションコンサルタント</p>
            </article>
            <article class="left-item">   
                <img src="./Image/icon6.png" alt="...">
                <p class="item-text">豊富な経験 知識</p>
            </article>
        </div>
        <div class="component4-right">
            <div class="right-title">DIGI-TEXX<br>強み</div>
            <div class="right-button">
                <button >詳細はこちら</button>
            </div>
        </div>
    </section>
</body>
</html>