<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/component1.css" />
    <title>form</title>
</head>

<body>
    <section class="eight-page-component1">
        <div class="component1-left">Form</div>
        <div class="component1-right">
            <div class="right-item1">
                <div class="item-top">
                    <img class="top-icon" src="./Images/Icon1.png" alt="" />
                    <h2 class="top-title">住所</h2>
                </div>
                <div class="body-text">
                    日本支社<br /><span>〒812-0013 福岡市博多区博多駅東１－１－３３
                        はかた近代ビル7IG3</span>
                </div>
                <div class="body-text">
                    本社<br /><span>ベトナム、ホーチミン市12区、Tan Chanh Hiep町、Quang
                        Trungソフトウェアシティ、Annaビル</span>
                </div>
            </div>
            <div class="right-item2">
                <img class="item2-icon" src="./Images/Icon2.png" alt="" />
                <div class="item2-content">
                    メール<br><span>Info@digi-texx.vn</span>
                </div>
            </div>
            <div class="right-item3">
                <div class="item3-top">
                    <img class="top-icon" src="./Images/Icon3.png" alt="" />
                    <h2 class="top-title">電話番号</h2>
                </div>
                <div class="item3-content">
                    本社、ベトナム: <span>(+84) 28-3715-5325</span>
                </div>
                <div class="item3-content">
                    支社、日本:<span> 092-710-4461</span>
                </div>
            </div>
        </div>
    </section>
</body>

</html>