<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/component6.css">
    <title>Document</title>
</head>
<body>
    <section class="second-page-component6">
        <div class="component6-background"></div>
        <div class="component6-left">
            <div class="left-title">
                <img src="./Images/Icon.png" alt="">
                背景の解放と置き換え
            </div>
            <div class="left-text">カラーバリエーション</div>
            <div class="left-text">カラーコレクション（コントラスト、明るさ、ブレンドの調整ど）</div>
            <div class="left-text">モデルのレタッチ、シミやホコリの除去</div>
            <div class="left-text">リフレクション・シャドーの除去</div>
        </div>
        <div class="component6-right">
            <img src="./Images/image.png" alt="...">
        </div>
    </section>
</body>
</html>