<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/component5.css">
    <title>Document</title>
</head>
<body>
    <section class="second-page-component5" style="background-image: url(./Images/background.png);">
        <h2 class="component5-title">沿革</h2>
        <div class="component5-table">
            <table>
                <tr>
                    <th>2002年</th>
                    <td>ホーチミン市*Tan Binh区に設立されました</td>
                </tr>
                <tr>
                    <th>2003年</th>
                    <td>100％外国直接投資(FDI)*に転換され、ベトナム初のFDI企業となりました</td>
                </tr>
                <tr>
                    <th>2004年</th>
                    <td>急成長,  *GHP Far East社と分社化* しました。(GHP FarEast社は現在1000名の従業員を有する規模の会社と成長した）</td>
                </tr>
                <tr>
                    <th>2006年</th>
                    <td>サービス品質を大幅に向上させ、 *ISO 9001:2000* の認証を取得しました</td>
                </tr>
                <tr>
                    <th>2008年</th>
                    <td>ホーチミン市GoVap区にスキャンニング・ソリューションズ及び書類管理業務を行う *DGS社を設立しました</td>
                </tr>
                <tr class="row-table">
                    <th>2010年</th>
                    <td>ベクトル化、ビジュアル化、アニメーション専門の [Saigon IT Partner社](http://saigon-itp.com/) を買収しましたセキュリティーを大きく改善させ、 *ISO/IEC 27001:2005* を取得しました<br>&nbsp</td>
                </tr>
                <tr class="row-table">
                    <th>2015年</th>
                    <td>カントー市に250人のスタッフをする *初の支店* をオープンしました
                        本社の従業員が1000人まで増え、当社はQuangTrungソフトウェア・シティーにおける 
                        トップ4⃣* のサイズを誇る会社に成長できました</td>
                </tr>
                <tr>
                    <th>2017年</th>
                    <td>グローバルな顧客向けに、デジタル化サービスとソリューションの開発に注力</td>
                </tr>
                <tr>
                    <th>2019年-2020年</th>
                    <td>アジア市場の拡大を目指し、 *日本支店を開設*</td>
                </tr>
                <tr>
                    <th>現在</th>
                    <td>国際的な顧客のために、様々な分野で包括的なデジタルサービスとソリューションを開発することに注力する</td>
                </tr>
            </table>
        </div>
    </section>
</body> 
</html>