<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/component3.css">
    <title>Document</title>
</head>

<body>
    <section class="ninth-page-component3">
        <h2 class="component3-title">サービス概要</h2>
        <div class="component3-list">
            <article class="component3-item">
                <div class="item-background"></div>
                <div class="item-icon">
                    <img src="./Images/icon1.png" alt="...">
                </div>
                <div class="item-text">豊富な経験を持つチーム</div>
            </article>
            <article class="component3-item">
                <div class="item-background"></div>
                <div class="item-icon">
                    <img src="./Images/icon2.png" alt="...">
                </div>
                <div class="item-text">日本語に堪能で、各プロジェクトの正確な要件と仕様を理解している日本人コンサルタント</div>
            </article>
            <article class="component3-item">
                <div class="item-background"></div>
                <div class="item-icon">
                    <img src="./Images/icon3.png" alt="...">
                </div>
                <div class="item-text">少量から大量まで、さまざまなニーズに迅速に対応します</div>
            </article>
        </div>
    </section>
</body>

</html>