<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/component2.css">
    <title>Document</title>
</head>

<body>
    <section class="eleventh-page-component2">
        <h2 class="component2-title">ハイライトポイント</h2>
        <div class="component2-list">
            <article class="component2-item">
                <div class="item-background"></div>
                <div class="item-icon">
                    <img src="./Images/icon1.png" alt="...">
                </div>
                <div class="item-text">全自動抽出サービスのほか、精度を高めるための保証サービス（DIGI－XTRACT+BPO) も提供しています。</div>
            </article>
            <article class="component2-item">
                <div class="item-background"></div>
                <div class="item-icon">
                    <img src="./Images/icon2.png" alt="...">
                </div>
                <div class="item-text">お客様のご要望に応じ、お客様のシステムに合わせた転送方法（API、メール）をカスタマイズします。</div>
            </article>
            <article class="component2-item">
                <div class="item-background"></div>
                <div class="item-icon">
                    <img src="./Images/icon3.png" alt="...">
                </div>
                <div class="item-text">いつでも大量のデータを処理できる、拡張性の高いプラットフォームサービスです。</div>
            </article>
        </div>
    </section>
</body>

</html>