<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/component2.css">
    <title>Document</title>
</head>
<body>
    <section class="fifth-page-component2">
        <div class="component2-title">データ種類</div>
        <div class="component2-list">
            <div class="component2-item">
                <img class="item-img" src="./Images/Icon1.png" alt="">
                <div class="item-content">
                    <div class="item-title">学習塾</div>
                    <div class="item-text">本、教科書</div>
                </div>
            </div>
            <div class="component2-item">
                <img class="item-img" src="./Images/Icon2.png" alt="">
                <div class="item-content">
                    <div class="item-title">医療</div>
                    <div class="item-text">各種問診票、各種健診表票</div>
                </div>
            </div>
            <div class="component2-item">
                <img class="item-img" src="./Images/Icon3.png" alt="">
                <div class="item-content">
                    <div class="item-title">卸売</div>
                    <div class="item-text">請求書、受注、発注書、仕入納品書</div>
                </div>
            </div>
            <div class="component2-item">
                <img class="item-img" src="./Images/Icon4.png" alt="">
                <div class="item-content">
                    <div class="item-title">全業種</div>
                    <div class="item-text">名刺、各種申込書、交通費証、アンケートなど</div>
                </div>
            </div>
        </div>
        <div class="component2-text">以下に一例を挙げておりますが、掲載がない帳票についてもお気軽にご相談下さい。</div>
        <button class="component2-button">
            すぐお問い合わします
        </button>
    </section>
</body>
</html>