<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/component4.css">
    <title>Document</title>
</head>
<body>
    <section class="fifth-page-component4">
        <h2 class="component4-title">サービス概要</h2>
        <div class="component4-list">
            <article class="component4-item">
                <div class="item-background"></div>
                <div class="item-icon">
                    <img src="./Images/icon1.png" alt="...">
                </div>
                <div class="item-text">OCR、機械学習(ML)、ディープラーニング(DL)などの *高度な技術* を応用</div>
            </article>
            <article class="component4-item">
                <div class="item-background"></div>
                <div class="item-icon">
                    <img src="./Images/icon2.png" alt="...">
                </div>
                <div class="item-text">シンプルで小さなフォームから複雑なドキュメントまで、 *あらゆるタイプのドキュメントを処理できる*</div>
            </article>
            <article class="component4-item">
                <div class="item-background"></div>
                <div class="item-icon">
                    <img src="./Images/icon3.png" alt="...">
                </div>
                <div class="item-text">組織のニーズに合わせて、少量から大容量まで処理できる *高い拡張性*</div>
            </article>
        </div>
    </section>
</body>
</html>