<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/component3.css" />
    <title>Component3</title>
</head>

<body>
    <section class="component3">
        <div class="component3-contact">
           <div class="contact-content">
            <h2 class="contact-title">
                そんな課題を<span>DIGI-TEXX</span>で解決しましょう
            </h2>
            <p class="contact-text">
                お客様のニーズに合わせた<br />コンサルティングからサービスパッケージまでご提供いたします。
            </p>
           </div>
        </div>
        <div class="component3-services">
            <div class="services-background"></div>
            <h2 class="services-title">サービス・ソリューション</h2>
            <p class="services-text">SERVICES＆SOLUTIONS</p>
            <div class="services-list">
                <div class="services-item" style="background-image: url(./Images/services1.png);">
                    <div class="item-title">データ処理</div>
                </div>
                <div class="services-item" style="background-image: url(./Images/services2.png);">
                    <div class="item-title">デジタルサービス</div>
                </div>
                <div class="services-item" style="background-image: url(./Images/services3.png);">
                    <div class="item-title">ビジネス支援</div>
                </div>
                <div class="services-item" style="background-image: url(./Images/services4.png);">
                    <div class="item-title">CAD・BIM<br>アウトソーシング</div>
                </div>
            </div>
        </div>
        <div class="component3-extract">
            <div class="extract-left">
                <div class="left-content">
                    <h2 class="extract-title">DIGI-XTRACT</h2>
                    <p class="extract-text">単純なOCR（光学文字認識）を越えて、文書の種類を分類し、構造化した形で正確に文字情報を抽出します</p>
                </div>
                <div class="left-button">無料DEMO</div>
            </div>
            <div class="extract-right">
                <img src="./Images/extract.png" alt="...">
            </div>
        </div>
    </section>
</body>

</html>