<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/component1.css">
    <title>Document</title>
</head>

<body>
    <section class="eleventh-page-component1">
        <div class="component1-container">
            <h2 class="container-title">DIGI-XTRACTは</h2>
            <div class="container-text">
                DIGI-TEXXソフトウェアチームが機械学習、深層学習、コンピュータビジョン、自然言語処理などの最先端技術を使用して独自に開発したソリューションです。
            </div>
        </div>
    </section>
</body>

</html>