<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Japan</title>
</head>
<body>
   <div id="container">
    <iframe src="/home/trunglnt/Desktop/Web-Japan/ui-japan-website/components/home-page/component2/component2.html" frameborder="0" width="1920px" height="556px"></iframe>
    <iframe src="/home/trunglnt/Desktop/Web-Japan/ui-japan-website/components/home-page/component3/component3.html" frameborder="0" width="1920px" height="1361px"></iframe>
    <iframe src="/home/trunglnt/Desktop/Web-Japan/ui-japan-website/components/home-page/component4/component4.html" frameborder="0" width="1920px" height="573px"></iframe>
    <iframe src="/home/trunglnt/Desktop/Web-Japan/ui-japan-website/components/home-page/component5/component5.html" frameborder="0" width="1920px" height="961px"></iframe>
    <iframe src="/home/trunglnt/Desktop/Web-Japan/ui-japan-website/components/home-page/component6/component6.html" frameborder="0" width="1920px" height="704px"></iframe>
   </div>
</body>
</html>