<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/component2.css">
    <title>Document</title>
</head>
<body>
    <section class="seventh-page-component2">
        <article class="component2-item">
        <div class="component2-backgroudLeft"></div>
            <img class="item-left" src="./Images/image1.png" alt="...">
            <div class="item-right">
                <div class="right-title">カスタマーケア＆ヘルプデスクセンター</div>
                <div class="right-text">いつでもどこでもエンドユーザーの質問に対応するためのソリューションです。<br><span style="font-weight: bold;">ベトナム語、英語、ドイツ語、日本語、中国語のさまざまな言語で 、<br>
                    24時間365日</span> 体制および営業時間外のサポートをお客様に提供しています</div>
            </div>
        </article>
        <article class="component2-item reverse">
        <div class="component2-backgroudRight"></div>
            <img class="item-left" src="./Images/image2.png" alt="...">
            <div class="item-right">
                <div class="right-title">オンサイトサービス</div>
                <div class="right-text">こちらは, お客様の場所で のビジネスサポートのソリューションです。<br>銀行や保険などの厳格なセキュリティなど、特定の業界に属するお客様は、外部人材の活用を委託する際に躊躇することが多いものです。お客様の悩みを理解した上で、DIGI-TEXXは専門の人材をお客様の場所で提供します。</div>
            </div>
        </article>
    </section>
</body>
</html>