* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.component3 {
  width: 1440px;
  margin: auto;
}
/* CONTACT */
.component3 .component3-contact {
  background: #b9d7f3;

  /* background: linear-gradient(180deg, rgba(240, 247, 253, 0) 0%, #ecf5fe 100%); */
  text-align: center;
  position: relative;
}
.component3 .component3-contact .contact-content {
  background: linear-gradient(180deg, rgba(240, 247, 253, 0) 0%, #ecf5fe 100%);
  padding: 59px 0;
}
.component3 .component3-contact .contact-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 52px;
  margin-bottom: 24px;
}
.component3 .component3-contact .contact-title span {
  color: #2582d7;
}
.component3 .component3-contact .contact-text {
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
}
/* SERVICES */
.component3 .component3-services {
  position: relative;
  padding: 96px 156px 48px;
  text-align: center;
}
.component3 .component3-services .services-background {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 324px;
  background: linear-gradient(180deg, #ecf5fe 0%, rgba(240, 247, 253, 0) 100%);
  z-index: -1;
}
.component3 .component3-services .services-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 52px;
  margin-bottom: 24px;
}
.component3 .component3-services .services-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #8d9599;
  text-decoration: underline;
  margin-bottom: 48px;
}
.component3 .component3-services .services-list {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
}
.component3 .component3-services .services-list .services-item {
  height: 360px;
  padding: 24px;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
}
.component3 .component3-services .services-item .item-title {
  background-color: white;
  border-radius: 4px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* EXTRACT */
.component3 .component3-extract {
  padding: 48px 156px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
  border-radius: 8px;
}
.component3 .component3-extract .extract-left {
  width: 456px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px 0px 0px 8px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 24px 42px 42px rgba(0, 0, 0, 0.16);
}
.component3 .component3-extract .extract-left .left-content {
  padding: 78.5px 68.5px 79.5px;
  text-align: center;
}
.component3 .component3-extract .extract-left .extract-title {
  color: #2582d7;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 52px;
  white-space: nowrap;
  margin-bottom: 24px;
}
.component3 .component3-extract .extract-left .left-button {
  text-align: center;
  background: #2582d7;
  padding: 17px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
.component3 .component3-extract .extract-right {
  width: calc(100% - 456px);
  height: 360px;
  padding: 24px;
  border: 1px solid #2582d7;
  border-radius: 0px 8px 8px 0px;
  box-sizing: border-box;
}
.component3 .component3-extract .extract-right img {
  width: 100%;
}
