<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/component5.css">
    <title>Component5</title>
</head>
<body>
    <section class="component5">
        <div class="component5-title">紹介動画</div>
        <p class="component5-text">COMPANY VIDEO</p>
        <iframe  class="component5-video" title="video" src="https://www.youtube.com/embed/trraG9UAtRs"  frameborder="0"></iframe>
        <button class="component5-button">
            その他サービス紹介動画はこちら
        </button>
    </section>
</body>
</html>