<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/component3.css">
    <title>Document</title>
</head>

<body>
    <section class="second-page-component3">
        <div class="component3-title">会社概要</div>
        <div class="component3-table">
            <table>
                <tr>
                    <td class="border-topLeft">会社名</td>
                    <td class="border-topRight">*DIGI-TEXX*</td>
                </tr>
                <tr>
                    <td>設立</td>
                    <td>2002年</td>
                </tr>
                <tr>
                    <td>代表者名</td>
                    <td>FRANK SCHELLENBERG* (フランクシェレンバーグ)</td>
                </tr>
                <tr class="row-table">
                    <td>事業内容</td>
                    <td>サービス：<br> データ処理:<br>文章処理<br>画像、動画処理<br>CAD
                        アウトソーシングサービス<br>ディジタルサービス：<br>アノテーション<br>プラットフォーム構築<br>ビジネス支援：<br>カスタマーケア、テクニカルケア、テストサービス
                        <br> *ディジタルソリューション
                    </td>
                </tr>
                <tr class="row-table">
                    <td class="border-bottomLeft">ISO 001<br>ISO 27001</td>
                    <td class="certificate-list border-bottomRight">
                        <img class="certificate-item" src="./Images/certificate1.png" alt="...">
                        <img class="certificate-item" src="./Images/certificate2.png" alt="...">
                        <img class="certificate-item" src="./Images/certificate3.png" alt="...">
                        <img class="certificate-item" src="./Images/certificate4.png" alt="...">
                    </td>
                </tr>
            </table>
        </div>
    </section>
</body>

</html>