<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/component2.css">
    <title>Component2</title>
</head>
<body>
    <section class="component2">
        <div class="component2-background"></div>
        <div class="component2-left">
            <img src="./Images/image.png" alt="...">
        </div>
        <div class="component2-right">
            <h2 class="right-title">こんな 課 題 ございませんか？</h2>
            <ul class="right-list">
                <li class="right-item">
                    <img src="./Images/Icon.png" alt="...">
                    <p>業務コスト、人件費を削減したい</p>
                </li>
                <li class="right-item">
                    <img src="./Images/Icon.png" alt="...">
                    <p>業務の処理速度と品質を高めたい</p>
                </li>
                <li class="right-item">
                    <img src="./Images/Icon.png" alt="...">
                    <p>コア業務に集中したい</p>
                </li>
                <li class="right-item">
                    <img src="./Images/Icon.png" alt="...">
                    <p>企業機密や個人情報が漏洩するリスク
                    </p>
                </li>
                <li class="right-item">
                    <img src="./Images/Icon.png" alt="...">
                    <p>適正ソリューションとコストの判断が難しい</p>
                </li>
            </ul>
        </div>
    </section>
</body>
</html>