<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/component4.css">
    <title>Document</title>
</head>

<body>
    <section class="second-page-component4">
        <div class="certificate-polygon1">
            <img src="./Images/Polygon1.png" alt="">
        </div>
        <div class="certificate-list">
            <div class="certificate-item">
                <img src="./Images/certificate1.png" alt="...">
            </div>
            <div class="certificate-item">
                <img src="./Images/certificate1.png" alt="...">
            </div>
            <div class="certificate-item">
                <img src="./Images/certificate1.png" alt="...">
            </div>
            <div class="certificate-item">
                <img src="./Images/certificate1.png" alt="...">
            </div>
        </div>
        <div class="certificate-polygon2">
            <img src="./Images/Polygon2.png" alt="">
        </div>
    </section>
</body>

</html>