<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/component5.css">
    <title>Document</title>
</head>
<body>
    <section class="fifth-page-component5">
        <div class="component5-content">
            <h2 class="content-title">画像処理</h2>
            <p class="content-text">画像処理は、マーケティングや電子商取引、さらには科学研究においても大きな役割を果たしています。そのため、ビジネスの成功に重要な役割を果たしています。信頼できるアウトソーシング企業として、DIGI-TEXXは顧客にいくつかの画像処理サービスを提供している。</p>
        </div>
    </section>
</body>
</html>