.banner-sec{
  width: auto !important;
  height: auto !important;
}
.banner-sec h1, .banner-sec p, .service-box h2, .service-box p{
  font-family: 'Poppins', sans-serif !important; 
}
/*Banner section*/
.banner-sec .wp-block-column.is-vertically-aligned-center {
  position: relative;
  top: 50%;
  left: 10%;
  right: 45%;
}
.banner-sec h1{
  font-weight: 700;
}
.banner-sec input{
  border-radius: 15px;
  padding: 12px;
}
.banner-sec button{
  color: #fff !important;
  font-size: 15px;
  background: #fd356f !important;
  border-radius: 30px;
  font-weight: 500;
  border-radius: 15px;
  text-transform: uppercase;
  margin-left: -35px !important;
  border-color: #fd356f !important;
}
/*Service section*/
.service-sec .service-box h2 a{
  color: #000 !important;
  text-decoration: none !important;
}
.service-sec .service-box{
  border-radius: 30px;
  box-shadow: 2px 0 15px rgb(0 0 0 / 65%);
  padding: 0;
  margin: 15px;
  width: 22%;
}
.service-sec .service-box img{
  border-radius: 30px 30px 0 0;
  width: 100%;
}
.service-sec .service-box:hover .wp-block-image{
  background: #6102d3;
  border-radius: 30px 30px 0 0;
  position: relative;
}
.service-sec .service-box:hover .wp-block-image img{
  opacity: 0.4;
}
@media screen and (max-width:767px) {
  .banner-sec .wp-block-column.is-vertically-aligned-center {
    position: static;
  }
  .banner-sec h1, .banner-sec p{
    display: none;
  }
  .service-sec .service-box img{
    width: 100%;
  }
  .slider-search .wp-block-search__inside-wrapper{
    width: 70% !important;
  }
  .slider-search{
    margin-left: 20px !important;
  }
}
@media screen and (max-width:991px) and (min-width:767px){
  .service-sec{
    flex-wrap: nowrap;
  }
  .banner-sec h1{
    font-size: 35px !important;
  }
}