<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/component1.css">
    <title>Document</title>
</head>
<body>
    <section class="seventh-page-component1">
        <div class="component1-content">
            DIGI－TEXXでは、幅広い業種、お客様で、ヘルプデスクサービスを提供しています。これまでに培ってきたヘルプデスクのノウハウを多くのお客様へ提供していきます
        </div>
    </section>
</body>
</html> 