<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/component6.css">
    <title>Document</title>
</head>
<body>
    <section class="second-page-component6">
        <h2 class="component6-title">アクセス</h2>
        <div class="component6-address">
            <iframe class="address-left" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4713684024036!2d106.62635981545645!3d10.851707892270431!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752b8c63ab1abf%3A0x9519511a4409cdb3!2sDIGI-TEXX%20Vi%E1%BB%87t%20Nam!5e0!3m2!1svi!2s!4v1643083177996!5m2!1svi!2s"  style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <div class="address-right">
                <h3 class="right-title">本社・べトマム</h3>
                <p class="right-text">*本社*: 第12地区クアンチュンソフトウェアシティ、ANNAビル2階</p>
                <p class="right-text">*オフィス1*: 1区、39 Le Duan Street、Deutsches Haus</p>
                <p class="right-text">*オフィス2*: 11区、624ラックロングクアンストリート、カイホアンビル</p>
            </div>
        </div>
        <div class="component6-address address-between">
            <iframe  class="address-left" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15715.36271627317!2d105.7806483!3d10.0300029!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd6634125bcdf0d49!2zVGVjaGNvbWJhbmsgQ-G6p24gVGjGoQ!5e0!3m2!1svi!2s!4v1643083605723!5m2!1svi!2s" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <div class="address-right">
                <h3 class="right-title">支社・カントー市・べトマム</h3>
                <p class="right-text">ベトナム、カントー市、ニンキエウ区30/4ストリート<br>Techcombankビル9階</p>
            </div>
        </div>
        <div class="component6-address">
            <iframe  class="address-left" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d830.8745345718506!2d130.42110442923953!3d33.59237739879584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x354191c8a2e41dbf%3A0x3f946f750454f056!2s7th!5e0!3m2!1svi!2s!4v1643083717724!5m2!1svi!2s" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <div class="address-right">
                <h3 class="right-title">支社・福岡市・日本</h3>
                <p class="right-text">812-0013<br>福岡市、博多駅東博多区博多金台1-1-33、7階</p>
            </div>
        </div>
    </section>
</body>
</html>