<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/component2.css">
    <title>Document</title>
</head>

<body>
    <section class="ninth-page-component2">
        <article class="component2-item">
            <img class="item-img" src="./Images/image1.png" alt="">
            <div class="item-content">
                <h2 class="content-title">CADサービス</h2>
                <p class="content-text">
                    手書き図面等をデジタルデータ化することにより、保管場所を不要にし、破損や劣化も防ぎます。<br>変更・追加等の編集も行いやすくなり、さまざまなアプリケーションで利用できますので、その後の業務の効率化をはかれます。
                </p>
            </div>
        </article>
        <article class="component2-item">
            <img class="item-img" src="./Images/image2.png" alt="">
            <div class="item-content">
                <h2 class="content-title">BIM サービス</h2>
                <p class="content-text">当社のBIMサービスには、スキャン、PDFまたはCADからBIM、構造BIM、MEP BIMなど提供します。</p>
            </div>
        </article>
    </section>
</body>

</html>